<div class="welcome">
  <div class="main container-md rounded-5 p-0">
    <div class="row box">
      <div class="col-sm-7 p-5 welcome-card d-flex justify-content-center align-items-center">
        <img src="/assets/Task-One/wecome-img.jpg" class="wecome-img w-100">
      </div>
      <div class="col-sm-5 p-0 welcome-card">
        <div class="card rounded-5 pt-5 px-3 h-100 border-0">
          <h2 class="mx-3">welcome</h2>
          <small class="mx-3">Please login or sign up to continue using our app.</small>
          <div class="row my-auto ">
            <p class="text-primary fw-bold text-center">Enter via Social Networks</p>
            <div class="col-12 my-2">
              <a href="https://www.google.com/" class="btn btn-primary w-100">
                <img src="/assets/Task-One/google-icon.jpg" width="30" height="30" class="mx-2">
                <span>sign up with Google</span>
              </a>
            <div class="col-12 my-2">
              <a href="https://www.facebook.com/" class="btn btn-primary w-100">
                <img src="/assets/Task-One/facebook-icon.jpg" width="30" height="30" class="mx-2">
                <span>sign up with Facebook</span>
              </a>
            </div>
            <hr class="hr-text text-center border-0 m-0" data-content="OR" />
            <div class="col-12 my-2">
              <div routerLink="/task-1/register" class="email btn btn-primary w-100">
                <i class="bi bi-envelope mx-2"></i>
                <span>sign up with Email</span>
              </div>
            <div class="text-center my-2">
              <small>
                <span>You already have an account?</span>
                <a routerLink="/task-1/login" class="link-h text-primary text-decoration-none mx-1" >Login</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
