<div class="temp-mail">
  <div class="position-absolute w-100">
    <app-header></app-header>
  </div>
  <div class="section-one pt-5">
    <div class="box text-center text-white mx-auto mt-4">
      <p class="display-4 fw-semibold pt-5 mb-4">Temporary Mail</p>
      <p class="fs-4 my-4">Need an email to use on untrusted websites?</p>
      <button class="start-btn text-white text-uppercase fw-semibold border-0 px-3 py-2">start here</button>
    </div>
  </div>
  <div class="section-two py-5">
    <div class="row mb-5">
      <div class="col-lg-3 col-sm-6">
        <div class="card h-100 text-secondary text-center border-0">
          <mat-icon class="fs-1 w-auto h-auto py-4"> mail_outline</mat-icon>
          <p class="card-title fw-bold text-uppercase">private inbox</p>
          <p class="text-justify">Your temporary email has assigned an Unique ID which only your have it. Save the direct URL to your inbox
            which contains the UID.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card h-100 text-secondary text-center border-0">
          <mat-icon class="fs-1 w-auto h-auto py-4">delete_outline</mat-icon>
          <p class="card-title fw-bold text-uppercase">disposable email</p>
          <p class="text-justify">Your temporary inbox will be disposed of only after 24 hours of your last visit on our website.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card h-100 text-secondary text-center border-0">
          <mat-icon class="fs-1 w-auto h-auto py-4">autorenew</mat-icon>
          <p class="card-title fw-bold text-uppercase">auto refresh</p>
          <p class="text-justify">Get your emails instantly in your new temporary email inbox. No page reload needed. </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card h-100 text-secondary text-center border-0">
          <mat-icon class="fs-1 w-auto h-auto py-4">access_time</mat-icon>
          <p class="card-title fw-bold text-uppercase">check it later</p>
          <p class="text-justify">Access your email anywhere anytime by using the direct link to your inbox. Don't forget to save it.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-5">
        <div>
          <span class="fs-3 fw-semibold">What is Disposable Temporary E-mail?</span>
          <p class="text-justify"><b>Disposable email - </b>is a free email service that allows to receive email at a temporary address that
            self-destructed after a certain time elapses. It is also known by names like : tempmail, 10minutemail,
            10minmail, throwaway email, fake-mail , fake email generator, burner mail or trash-mail. Many forums, Wi-Fi
            owners, websites and blogs ask visitors to register before they can view content, post comments or download
            something. Temp-Mail - is most advanced throwaway email service that helps you avoid spam and stay safe.
          </p>
        </div>
        <div>
          <span class="fs-3 fw-semibold">Why would you need a fake email address?</span>
          <p class="my-3 text-justify">
            You must have noted services such as Amazon Prime, Hulu and Netflix allow limited-time test runs(trials),
            however, if still determined to use the services all you need is a disposable email address. Technically,
            you can extend your trial usage using a different email address linked to your original (genuine) after the
            trial period expires.
          </p>
          <p class="my-3 text-justify">
            YAn offline or online retailer tend to demand an email address to take advantage of their offers, however,
            this result in an unwanted deluge of spam promotional emails that you could avoid. Temporary email address
            makes it easy to cut out those irritating messages you are still receiving.
          </p>
          <p class="my-3 text-justify">
            Technically, the idea of a temporary email address conjures up with black hat hackers and underworld
            internet, but there are convincing reason to us fake email services.
          </p>
          <p class="my-3 text-justify">
            If you are looking for legitimate reasons to use a disposable email address here’s a few:
          </p>
          <ul>
            <li>
              <b>Sign-Up For Store Loyalty Card:</b>
              <p class="text-justify">
                If you don’t want to get promotional emails from the store adverting new products, use a disposable
                email address instead of your business email address, and you rule out spam emails. If the store gets
                hacked for email, you real email address won’t get stolen.
              </p>
            </li>
            <li>
              <b>Test Your App:</b>
              <p class="text-justify">
                You just completed coding a web app, and you want to test it comprehensively before releasing it for
                sale, you can easily get 100 disposable emails, create dummy accounts and test it yourself other than
                hiring unreliable users online to test the app.
              </p>
            </li>
            <li>
              <b>Sign-Up For Double Account With A Web App:</b>
              <p class="text-justify">
                You need another IFTTT account to program a second Twitter account run for your marketing site. A new
                account needs a different mail from your default, to rule out managing a new email inbox, get a new
                disposable email address at temp-mail.org
              </p>
            </li>
            <li>
              <b>Eliminate Spam:</b>
              <p class="text-justify">
                A Disposable email address is a very useful tool against spam, especially, for users who consistently
                access web forms, forums and discussion groups you can curb spam to an absolute minimum with a
                disposable email address.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <span class="fs-3 fw-semibold">How to Choose a Disposable Email?</span>
          <p>The best fake email provider should:</p>
          <ul>
            <li class="py-1">Allow users create temporary emails address at the click of a button.</li>
            <li class="py-1">No registration is registration or identity information about the user.</li>
            <li class="py-1">The email address should remain anonymous.</li>
            <li class="py-1">Offer more than one email address (as many as you may want).</li>
            <li class="py-1">Offers temporarily email stored (temporal email inbox at user’s disposal).</li>
            <li class="py-1">Straightforward and functional design to get a mundane email.</li>
            <li class="py-1">Provider random account and users can choose an address of choice.</li>
          </ul>
          <p>Thus stay spam free and save time with temp-mail.org your favorite email service.</p>
        </div>
        <div>
          <span class="fs-3 fw-semibold">To Conclude:</span>
          <p class="text-justify">
            Have a disposable mail address system set up in a fantastic way to make sure when you participate in online
            wikis, chat rooms, and file sharing services and bulletin boards forums your real identity is never
            disclosed and never sold to anyone to avoid mail spam with Temp-mail.org.
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer class="p-3">
    <div class="information d-flex justify-content-between">
      <ul class="nav text-white">
        <li class="mx-2 pe-auto link-h text-uppercase">Blog</li>
        <li class="mx-2 pe-auto link-h text-uppercase">privacy</li>
        <li class="mx-2 pe-auto link-h text-uppercase">Terms</li>
        <li class="mx-2 pe-auto link-h text-uppercase">faq</li>
        <li class="mx-2 pe-auto link-h text-uppercase">contacts</li>
      </ul>
      <ul class="social-media nav text-white">
        <li class="mx-2 pe-auto link-h text-uppercase fs-4">
          <i class="bi bi-youtube text-danger"></i>
        </li>
        <li class="mx-2 pe-auto link-h text-uppercase fs-4">
          <i class="bi bi-linkedin text-primary"></i>
        </li>
        <li class="mx-2 pe-auto link-h text-uppercase fs-4">
          <i class="bi bi-whatsapp text-success"></i>
        </li>
        <li class="mx-2 pe-auto link-h text-uppercase fs-4">
          <i class="bi bi-facebook text-primary"></i>
        </li>
      </ul>
    </div>
    <p class="text-center text-white">
      <span class="link-h"> © Tagoremail@gmail.com</span>
    </p>

  </footer>
</div>
