<div class="container main">
  <h1 class="text-center text-white pt-5">
    <img src="/assets/app-icon.jpg" width="50" >
    CODSOFT Tasks</h1>
  <div class="row justify-content-around">
    <div class="col-lg-3 col-sm-6 my-5">
      <div routerLink="/task-1" class="card mx-2 bg-dark rounded-5">
        <div class="notification text-white rounded-circle">
          <span>Task 1</span>
        </div>
        <p class="text-white fw-bold w-100">Sign Up Flow</p>
        <img src="/assets/Tasks-images/mobile app signup.jpg" class="w-100 h-100">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 my-5">
      <div routerLink="/task-2" class="card mx-2 bg-dark rounded-5">
        <div class="notification text-white rounded-circle">
          <span>Task 2</span>
        </div>
        <p class="text-white fw-bold w-100">Temp Email</p>
        <img src="/assets/Tasks-images/email temp.png" class="w-100 h-100">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 my-5">
      <div routerLink="/task-3" class="card mx-2 bg-dark rounded-5">
        <div class="notification text-white rounded-circle">
          <span>Task 3</span>
        </div>
        <p class="text-white fw-bold w-100">Restaurant</p>
        <img src="/assets/Tasks-images/rest menu.png" class="w-100 h-100">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 my-5">
      <div routerLink="/task-4" class="card mx-2 bg-dark rounded-5">
        <div class="notification text-white rounded-circle">
          <span>Task 4</span>
        </div>
        <p class="text-white fw-bold w-100">E-Commerce Web</p>
        <img src="/assets/Tasks-images/e commerce web.jpg" class="w-100 h-100">
      </div>
    </div>
  </div>
</div>
