<div class="header">
  <div class="row px-2 py-3">
    <div class="col-6">
      <a href="#" class="fs-3 text-white text-decoration-none link-h">
        <mat-icon class="w-auto px-2 text-decoration-none"> mail_outline</mat-icon>
        <span>TagoreMail</span>
      </a>
    </div>

    <div class="col-6">
      <ul class="nav text-white float-end">
        <li class="mx-2">
          <mat-icon class="fs-1 w-auto h-auto pe-auto">mic</mat-icon>
        </li>
        <li class="mx-2">
          <mat-icon class="fs-1 w-auto h-auto pe-auto">language</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
